<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boarditems-none-hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boarditems-none-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{34,0},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boarditems.png</string>
            <key>size</key>
            <string>{68,34}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd29744e8122d6fe1e9d6c0e93ff196f:ec32e52b269aa1665d514a9544644959:95b618eed07872490a2595fbd7979192$</string>
            <key>textureFileName</key>
            <string>boarditems.png</string>
        </dict>
    </dict>
</plist>
